*{
    margin:0;
    padding:0;
}

.cabeçalho{
    background-color: rgb(153, 76, 13);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.titulo{
    font-size: 30px;
}

.titulo-texto{
    font-size: 30px;
    display: inline-block;
    padding: 20px 0;
    margin: 0 20px;

}

.texto{
    margin: 0 20px;
}

.imagem-texto{
    width: 50%;
}
