*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color: rgb(15, 15, 105);
    color: rgb(237, 240, 243);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.imagem-cabeçalho{
    width: 20%;
}
.cabeçalho-lista-iten-1{
    font-size: 60px;
    align-items: normal;
    margin: 0 20px;
    display: inline-block;
}
.cabeçalho-lista-iten-2{
    font-size: 60px;
    align-items: normal;
    margin: 0 20px;
    justify-content: space-around;
    display: inline-block;
}
.cabeçalho-lista{
    padding: 10px 0;
    margin: 0 25px ;
}
.itens-opçoes{
    display:flex;
    justify-content: space-around;
    align-items: normal;
}
.titulo-opçoes{
    text-align: center;
    padding: 20px 0;
}
.corpo-texto{
    background-color:rgb(127, 127, 248);
}
.imagem-1{
    width: 25%;
}
.imagem-2{
    width: 20%;
}
.imagem-3{
    width: 24%;
}
.imagem-4{
    width: 13%;
}
.imagens-opçoes{
    display:flex;
    justify-content: space-around;
    align-items: normal;
}
.imagens{
    background-color: rgb(127, 127, 248);
    padding: 40px 0;
}
.foto-texto{
    width: 35%;
}
.texto{
    background-color: rgb(127, 127, 248);
}